.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #eee;
}
@media screen and(min-width:860) {
  .header {
    justify-content: baseline;
  }
}

.cart {
  margin-left: 5px;
  margin-right: 5px;
}

.login {
  margin: 5px 5px 0;
}

.search {
  margin-left: 10px;
}

.menu {
  margin-left: 5px;
}

.text {
  display: inline-block;
}

.authNav {
  display: flex;
  margin-left: 35px;
}
